{% extends "layouts/base.html" %}

{% set project = "Frontend Process" %}

{% block body %}
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-primary"><strong>Steps behind Frontend</strong></h1>
        <p class="text-secondary">Vivian Ni: Frontend Developer</p>
        <p> Our group is working with two APIs:
            <ol>
                <li>GetSymptoms API from Rapid API</li>
                <li>Custom API adapted from jokes API</li>
            </ol>
        </p>
    </div>
<div class="px-5 py-5 mx-auto">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <img class="card-img-top" src="{{ url_for('static', filename='assets/vase.jpg') }}" alt="Symptom RapidAPI" height="500">
                <div class="card-body">
                <h5 class="card-title">Symptom RapidAPI</h5>
                <p class="card-text">
                    <ul>
                        <li>We came up with our name by using the first letter of each of our names: Vivian, Amay, Sarah, Emma</li>
                        <li>We are all collaborating to create our final project at the end of the trimester</li>
                        <li>Emma is our scrum master, Amay is the DevOP, Sarah is the backend developer, and Vivian is the frontend developer.</li>
                    </ul>
                </p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <img class="card-img-top" src="{{ url_for('static', filename='assets/goals.png') }}" alt="Custom API" height="500">
                <div class="card-body">
                <h5 class="card-title">Custom API</h5>
                <p class="card-text">
                    <ol>
                        <li>Gather an ample amount of data to make a functioning program.</li>
                        <li>Follow our scrum process that we made.</li>
                        <li>Employ collaboration, creativity, and cooperation when we work.</li>
                        <li>Achieve all 6 of the requirements on the college board rubric for the create task.</li>
                    </ol>
                </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block background %}
{% endblock %}