{% extends "layouts/base.html" %}

{% set project = "Frontend Process" %}

{% block body %}
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-primary"><strong>Steps behind Frontend</strong></h1>
        <p class="text-secondary">Vivian Ni: Frontend Developer</p>
        <p> Our group is working with two APIs:
            <ol>
                <li>GetSymptoms API from Rapid API</li>
                <li>Custom API adapted from jokes API</li>
            </ol>
        </p>
    </div>
{% endblock %}

{% block background %}
{% endblock %}