{% extends "layouts/base.html" %}

{% set project = "Frontend Process" %}

{% block body %}
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-primary"><strong>Steps behind Frontend</strong></h1>
        <p class="text-secondary">Vivian Ni: Frontend Developer</p>
        <p> Our group is working with two APIs:
            <ol>
                <li>GetSymptoms API from Rapid API</li>
                <li>Custom API adapted from jokes API</li>
            </ol>
        </p>
    </div>
<div class="px-5 py-5 mx-auto">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <img class="card-img-top" src="{{ url_for('static', filename='assets/vase.jpg') }}" alt="Symptom RapidAPI" height="500">
                <div class="card-body">
                <h5 class="card-title">Symptom RapidAPI</h5>
                <p class="card-text">
                   insert code or image
                </p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <img class="card-img-top" src="{{ url_for('static', filename='assets/goals.png') }}" alt="Custom API" height="500">
                <div class="card-body">
                <h5 class="card-title">Custom API</h5>
                <p class="card-text">
                    insert code or image
                </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block background %}
{% endblock %}