{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Python Home Page</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/vase.jpg') }}" alt="Python Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Team VASE</mark>?</h5>
                    <p class="card-text">
                        <ul>
                            <li>We came up with our name by using the first letter of each of our names: Vivian, Amay, Sarah, Emma</li>
                            <li>We are all collaborating to create our final project at the end of the trimester</li>
                            <li>Emma is our scrum master, Amay is the DevOP, Sarah is the backend developer, and I(Vivian) am the frontend developer.</li>
                        </ul>
                    </p>
                    <a href={{ url_for('projects.stub') }} class="btn btn-primary">More on Our Project</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/goals.png') }}" alt="Flask Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Goals for our Project</h5>
                    <p class="card-text">
                        <ol>
                            <li>Gather an ample amount of data to make a functioning program.</li>
                            <li>Follow our scrum process that we made.</li>
                            <li>Employ collaboration, creativity, and cooperation when we work.</li>
                            <li>Achieve all 6 of the requirements on the college board rubric for the create task.</li>
                        </ol>
                    </p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/plan.jpeg') }}" alt="Backend and Persistence" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Plan of Action</h5>
                    <p class="card-text">
                        <ol>
                            <li>Gather data</li>
                            <li>Create a framework/plan for how our project will be coded.</li>
                            <li>Plan roles.</li>
                        </ol>
                    </p>
                    <a href={{ url_for('projects.stub') }} class="btn btn-primary">More on Our Project</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}